<h2>All books</h2>

<div class="books">
  <% if books.any? %>
    <% books.each do |book| %>
      <div class="book">
        <h3>Title: <%= book.title %></h3>
        <p>Author: <%= book.author %></p>
        <p>Title length: <%= book.title_length %></p>
        <%=
          form_for :book, routes.book_path(id: book.id), method: :delete do
                   submit 'Delete'
          end
        %>
      </div>
    <% end %>
  <% else %>
    <p class="placeholder">There are no books yet.</p>
  <% end %>

  <br />
  <a href="/books/new">Add a new book</a>
</div>
